* {
    box-sizing: border-box;
}

html, body {
    padding: 0;
    margin: 0;
    height: 100%;
}


header {
    margin: 10px 0px 0px 0px;
    text-align: center;
}

.wrapper {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    padding: 20px;
    max-width: 1200px;
    min-height: 100vh;
}

.price {
    display: flex;
    justify-content: center;
    /*gap: 20px;*/
    padding: 50px 0;
    width: 100%;
    flex-wrap: wrap;
    color: white;
}

.pricebox-basic {
    display: flex;
    flex-direction: column;
    position: relative;
    left: 20px;
    justify-content: space-between;
    padding: 20px 20px 20px 0px;
    border-radius: 20px;
    text-align: center;
    align-items: center;
    width: 300px;
    border: 1px solid;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    background-color: rgb(179, 179, 179);
}

.pricebox-basic:hover {
    transition: transform 0.2s ease-in-out;
    z-index: 2;
    transform: scale(1.05);
}

.pricebox-best {
    display: flex;
    flex-direction: column;
    position: relative;
    z-index: 1;
    justify-content: space-between;
    padding: 20px 20px 20px 0px;
    border-radius: 20px;
    text-align: center;
    align-items: center;
    width: 300px;
    border: 1px solid;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    background-color: rgb(14, 230, 158);
}

.pricebox-best:hover {
    transition: transform 0.2s ease-in-out;
    z-index: 2;
    transform: scale(1.05);
}

.pricebox-pro {
    display: flex;
    flex-direction: column;
    position: relative;
    right: 20px;
    justify-content: space-between;
    padding: 20px 20px 20px 0px;
    border-radius: 20px;
    text-align: center;
    align-items: center;
    width: 300px;
    border: 1px solid;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    background-color: rgb(0, 0, 0);
}

.pricebox-pro:hover {
    transition: transform 0.2s ease-in-out;
    z-index: 2;
    transform: scale(1.05);
}

.pricebox-pro:hover {
    z-index: 2;
}

ul {
    list-style-type: none;
}

.intake-form-section {
    border: 1px solid;
    position: relative;
    z-index: 2;
    bottom: 600px;
    background-color: white;
}

.hidden {
    display: none;
}

.close-btn {
  position: absolute;
  top: 1rem;
  right: 1rem;
  background: transparent;
  border: none;
  font-size: 1.5rem;
  cursor: pointer;
}

.intake-form {
    display: grid;
    max-width: 600px;
    margin: 10px auto;
    gap: 20px;
}

.intake-form label {
    display: flex;
    flex-direction: column;
}

.intake-form input, .intake-form textarea, .intake-form select {
    width: 100%;
    padding: 10px;
    font-family: inherit;
    border-radius: 6px;
    border: 1px solid #ccc;
}

#consultation {
    text-align: center;
}